langchain 
openai 
groq 
langchain-core 
langchain-community
langchain-openai
langchain-groq
langgraph
kiteconnect 
python-dotenv
pandas
ta-lib-everywhere
nsepython
flask
langchain-huggingface
langchain-ollama